@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/HomePageStyle.css" />
</head>
<div id="main-container" class="whole-width">
    
</div>
<script type="module" src="./js/HomePageScript.js"></script>
