@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/HomePageStyle.css" />
</head>
<div id="main-container" class="whole-width">
    
</div>
<div id="project-details-container" class="project-details-container">
    <div id="project-details" class="project-details">
        <button id="colse-button" class="close-button"></button>
        <div class="two-column-small-left">
            <span style="height:50px;margin:10px; font-size:20px;"><em><b>Project Details</b></em> </span>
            <span></span>
            <label for="Title-input">Project Name</label>
            <input id="Title-input" type="text" name="Title-input" value="" />
            <label for="ContractDate-input">Contract Date</label>
            <input id="ContractDate-input" type="date" name="ContractDate-input" value="" />
            <label for="TotalBudget-input">Total Budget</label>
            <input id="TotalBudget-input" type="text" name="TotalBudget-input" value="" />
            <label for="FramingBudget-input">Framing Budget</label>
            <input id="FramingBudget-input" type="text" name="FramingBudget-input" value="" />
            <label for="BuildingQty-input">Building Qty.</label>
            <input id="BuildingQty-input" type="number" name="BuildingQty-input" min="1" step="1" value="1" />
            <label for="FramingContractNo-input">Framing Contract No.</label>
            <input id="FramingContractNo-input" type="text" name="FramingContractNo-input" value="" />
            <label for="FormingContractNo-input">Forming Contract No.</label>
            <input id="FormingContractNo-input" type="text" name="FormingContractNo-input" value="" />
            <button id="cancle-edit-project-button" type="button" class="main-button save-cancle-btn">Cancle</button>
            <div>
                <button id="save-edit-project-button" type="button" class="main-button float-right save-cancle-btn" data-index="null">Save</button>
                <button id="del-edit-project-button" type="button" class="del-button float-right save-cancle-btn" data-index="null">Remove</button>
            </div>
            
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="./js/HomePageScript.js"></script>
