@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/HomePageStyle.css" />
</head>
<div class="whole-width">
    <button type="button" class="btn btn-primary btn-lg center-element margin-large">Project 1</button>
    <button type="button" class="btn btn-primary btn-lg center-element margin-large">Project 2</button>
    <button type="button" class="btn btn-primary btn-lg center-element margin-large">Project 3</button>
    <button type="button" class="btn btn-primary btn-lg center-element margin-large">+</button>
</div>

