@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/ProjectsPageStyle.css" />
    <link rel="stylesheet" href="~/css/HomePageStyle.css" />
</head>
<div id="main-container" class="one-column">
    <div class="three-column fixed-container">
        <div class="two-column center-element-horizental" style="margin-top:60px;">
            <span id="project-name-holder" class="project-title">Projects</span>
            <div>
                <div class="two-column" style="float:right;">
                    <label id="invoice-label" for="invoice-number-holder" class="project-title">Invoice #</label>
                    <input id="invoice-number-holder" type="text" />
                </div>
            </div>
        </div>
        <div class="two-column center-element-horizental">
            <button id="invoce-summary-btn" class="main-button main-button-margin main-button-width">Summary</button>
            <div>
                <div class="main-button-margin styled-input-width two-column">
                    <div>
                        <label for="date-input" style="float:right;margin-right:5px;">Date:</label>
                    </div>
                    <div style="margin-top:3px;">
                        <input id="date-input" class="styled-input" style="float:left;margin-left:5px;" type="date" name="date-input" value="" />
                    </div>
                </div>
            </div>
            <button id="add-invoice-btn" class="main-button main-button-margin main-button-width">Add</button>
            <div>
                <button id="invoce-save-btn" class="main-button main-button-margin main-button-width" style="float:right">Save</button>
            </div>
        </div>
    </div>

    <div class="three-column">
        <div class="side-bars-left">
            <button id="left-btn" type="button" class="control-button left-control-button center-element-horizental"></button>
        </div>
        <div id="root" class="width-scroll center-element-horizental">
        </div>
        <div class="side-bars-right">
            <button id="right-btn" type="button" class="control-button right-control-button center-element-horizental"></button>
        </div>
    </div>
</div>

<div id="summary-container" class="summary-container">
    <div class="summary-frame">
        <div>
            <button id="summary-close-button" class="summary-close-button"></button>
        </div>
        
        <div id="summary-table" class="summary-table">

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="/js/ProjectsPage.js"></script>