@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="/css/SummaryStyle.css" />
</head>
<div class="main-container">
    <div class="three-column">
        <div class="horizontally-middle">
            <div id="chart-guide" class="chart-guide" style="float:left;">

            </div>
            <canvas id="canvas-graph" width="320" height="320" style="float:left;">
            </canvas>
            <div id="chart-budgets" class="chart-budgets" style="float:left;">

            </div>
        </div>
        
        <div id="summary-details-container" class="horizontally-middle">
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="/js/SummaryPage.js"></script>
