.center-element{
    grid-column:2;
}
#main-container {
    position:relative;
    top:50px;
}

.whole-width{
    width:100vw;
    display:grid;
    grid-template-columns:auto Calc(max(40vw,250px)) auto;
}

.one-column{
    display:grid;
    grid-template-columns:auto;
}



.two-column {
    display: grid;
    grid-template-columns: auto auto;
}

.two-column-small-left {
    display: grid;
    grid-template-columns: Calc(max(10vw,150px)) auto;
}

.del-button{
    border-radius:10px;
    background-color:rgb(255,100,100);
}

.del-button:hover{
    background-color:rgb(200,80,80);
}

.del-button:active{
    background-color:rgb(200,50,50);
}

#add-new-project-button {
    background-color: rgb(150,100,230);
}
#add-new-project-button:hover{
    background-color: rgb(125,75,230);
}
#add-new-project-button:active{
    background-color: rgb(125,175,230);
}

#past-projects {
    background-color: rgb(100,255,200);
}
#past-projects:hover{
    background-color: rgb(75,200,200);
}

#past-projects:active{
    background-color: rgb(75,200,150);
}

.main-button:hover {
    background-color: rgb(100,150,225);
}

.main-button {
    border-radius: 10px;
    background-color: rgb(125, 175, 255);
}

.main-button:active{
    background-color:rgb(75,125,200);
}

.compelete-main-button {
    border-radius: 10px;
    background-color: rgb(200,255,200);
}

.sub-button {
    border-radius: 10px;
    background-color: rgb(100, 200, 255);
}

.sub-button:hover{
    background-color: rgb(125, 225, 255);
}

.sub-button:active{
    background-color: rgb(75, 175, 255);
}

.margin-large {
    margin: 2vh 10vw;
}

.vertical-margin{
    margin: Calc(min(2vh,20px)) 0px;
}

.float-right {
    float:right;
}

.hidden-block{
    opacity:0;
    height:0px;
    margin-top:5px;
    visibility:hidden;
}

.margin-small {
    margin: 5px 10vw;
}

.small-button {
    width: 5vw;
    min-width:45px;
    height: 30px;
    font-size: Calc(max(8px,0.8vw));
    margin-left:0.25vw;
}

.compelete-button{
    height:30px;
    width:10vw;
    min-width:100px;
    font-size:Calc(max(8px,0.8vw));
}

.uncompelete-button {
    height: 30px;
    width: 10vw;
    min-width: 100px;
    font-size: Calc(max(8px,0.8vw));
}

.large-button {
    width: Calc(max(40vw,250px));
    height: 40px;
}

.shrink-button {
    animation-name: shrinkBtn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.expand-button {
    animation-name: expandBtn;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes shrinkBtn{
    to{
        width:Calc(max(30vw,200px));
    }
}
@keyframes expandBtn{
    to {
        width: Calc(max(30vw,200px));
    }
}

.shrink-div {
    animation-name: shrinkDiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.expand-div {
    animation-name: expandDiv;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}
@keyframes expandDiv {
    from {
        height: 0px;
        opacity: 0;
        visibility:hidden;
    }

    to {
        height: 30px;
        opacity: 1;
        visibility:visible;
    }
}

@keyframes shrinkDiv {
    from {
        height: 30px;
        opacity: 1;
        visibility: visible;
    }

    to {
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }
}

.flex-container{
    display:flex;
}

.edit-button{
    width:0px;
    opacity:0;
    margin-left:10px;
    visibility:hidden;
}

.edit-button-expand{
    animation-name:editBtnExpan;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}

.edit-button-shrink {
    animation-name: editBtnShrink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes editBtnExpan{
    from{
        width:0px;
        opacity:0;
        font-size:0px;
        visibility:hidden;
    }
    to{
        width:Calc(max(40px,10vw - 10px));
        opacity:1;
        font-size:16px;
        visibility:visible;
    }
}

@keyframes editBtnShrink {
    from {
        width: Calc(max(40px,10vw - 10px));
        opacity: 1;
        font-size: 16px;
        visibility:visible;
    }

    to {
        width: 0px;
        opacity: 0;
        font-size: 0px;
        visibility:hidden;
    }
}

.project-details-container {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.8);
    visibility:hidden;
}

.project-details{
    width:40vw;
    min-width:300px;
    height:60vh;
    background-color:paleturquoise;
    position:relative;
    left:Calc(min(30vw,(50vw - 150px)));
    top:20vh;
    overflow-y:auto;
    border-radius:5px;
}
.close-button{
    width:30px;
    height:30px;
    border-radius:5px;
    border-style: none;
    background-color:coral;
    font-size:30px;
    background-image:url("../Resources/Images/Close-sign.png");
    background-repeat:no-repeat;
    background-position:center;

    
    position:fixed;
    right:Calc(min(30vw,50vw - 150px));
}
.close-button:hover{
    background-color:orangered;
}

input{
    margin: 5px 10px;
    height:30px;
}

label{
    margin-right:auto;
    margin-left:10px;
    margin-top:5px;
}

.save-cancle-btn{
    width:80px;
    margin:10px;
}

.hidden-projects-container {
    height: 0px;
    opacity: 0;
    visibility: hidden;
}

.show-big-box{
    animation-name:showBigBox;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}

.hide-big-box {
    animation-name: hideBigBox;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showBigBox{
    from {
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }
    to {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hideBigBox {
    from {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    to {
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }
}




